@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.black-shadow {
  box-shadow: 0px 2px 3px 0px rgba(0 0 0 / 7%);
}

.header-link li {
  transition: all 0.3s ease;
}

.header-link:hover img {
  transform: rotate(180deg);
}

.normal-lh {
  line-height: normal;
}
