@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.black-shadow {
  box-shadow: 0px 2px 3px 0px rgba(0 0 0 / 7%);
}

.header-link li {
  transition: all 0.3s ease;
}

.header-link:hover img {
  transform: rotate(180deg);
}

.normal-lh {
  line-height: normal;
}

.title-effect {
  padding-bottom: 5px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#65ebe7),
    to(#65ebe7)
  );
  background-image: -o-linear-gradient(left, #65ebe7 0%, #65ebe7 100%);
  background-image: linear-gradient(to right, #65ebe7 0%, #65ebe7 100%);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  background-position: left 70%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.card-title:hover {
  color: #454360;
  background-size: 100% 15%;
  background-position: left 80%;
}

.post-card-title:hover {
  color: #454360;
  background-size: 100% 13%;
  background-position: left 80%;
}

.tag {
  transition: all 0.3s ease;
}

.tag:hover {
  transform: translateY(-2px);
}
